el/nm1/keystore/
el/nm2/keystore/
/el/nm1/keystore/
/el/nm2/keystore/
el/nm1/keystore/
el/nm2/keystore/
/el/nm1/keystore
/el/nm2/keystore
el/nm1/config/enodekey
el/nm2/config/enodekey
el/nm3/config/enodekey

